@model IEnumerable<DotNet4Sql.DataViewModels.ActivityViewModel>
@{
    ViewBag.Title = "Activities";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">
                Customer
            </th>
            <th>
                Date
            </th>
            <th>
                Duration
            </th>
          <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityTypeDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActivityId }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-1">
        <a href="@Url.Action("Create")" class="btn btn-default">New</a>
    </div>
    <div class="col-md-1">
        <a href="@Url.Action("Json")" class="btn btn-default" target="_blank">JSON</a>
    </div>
</div>
